<h1>List of photos</h1>

<form action="insert_photo_record">
      <label for="image">Image</label>
      <input id="image" name="image_src" type="text" placeholder="Enter a URL for the image..." >
      <label for="caption">Caption</label>
      <textarea id="caption" name="caption" placeholder="Enter a caption for the image..."></textarea>
      <label for="owner_id">Owner ID</label>
      <input type="text" id="owner_id" name="photo_author" placeholder="Enter an ID of a User">
      <button>Add photo</button>
</form>

<table>
<tr>
  <th>Image</th>
  <th>Caption</th>
  <th>Owner</th>
  <th>Posted</th>
  <th></th>
</tr>
<% @photos.each do |photo| %>
  <tr> 
      <td> <img src="<%= photo.image %>"> </td>
      <td> <%= photo.caption %> </td>
      <td> <%= User.where(:id => photo.owner_id).pluck(:username).at(0) %> </td>
      <td> <%= photo.created_at %> </td>
      <td> <a href="/photos/<%=photo.id%>">Show details</a>
  </tr>
<% end %>
</table>